@media (max-width: 355px) {
  .v {
    position: fixed;
  }
  .phone {
    border-radius: 0;
    border: 0;
  }
  .vertical{
    width: 100%;
  }
  .notch{
    display: none;
  }
  .swipe{
    display: none;
  }
}
